@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Source Sans Pro', sans-serif; */


*{box-sizing: border-box; font-family: 'Source Sans Pro', Arial, sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ol, ul{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

.font_pacifico{font-family: 'Pacifico', cursive;}


#header{}
#header #top
{
    width: 100%; height: 30px;
    padding: 0 10px;
    background-color: #000;
}
#header #top .wrap
{
    width: 1160px; height: 100%;
    margin: 0 auto;
}
#header #top .left{float: left;}
#header #top .left ul{}
#header #top .left ul li
{
    float: left;
    padding-left: 10px;
    line-height: 30px;
}

#header #top .left ul li p
{
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

#header #top .right{float: right;}
#header #top .right ul{}
#header #top .right ul li
{
    float: left;
    line-height: 30px;
    /* padding-right: 10px; */
}
#header #top .right ul li a
{
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: white;
    padding: 0 10px;
}



#header #main
{
    width: 100%; height: 560px;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    /* text-align: center;     */
}
#header #main .dark
{
    height: 100%; width: 100%;
    background-color: rgba(0, 0, 0, 0.5);    
}

#header #main .dark .wrap
{
    /* display: inline-block; */
    width: 1160px; height: 66px;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    
}

#header #main .dark .wrap .logo{position: absolute; padding: 15px 10px;}


#header #main .dark .wrap .menu{float: right; text-transform: uppercase;}
#header #main .dark .wrap .menu ul{float: left;}
#header #main .dark .wrap .menu ul li
{
    float: left;
    line-height: 66px;
    padding: 0 20px;    
}
#header #main .dark .wrap .menu ul li a
{
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
#header #main .dark .wrap .menu ul li:hover{background-color: rgba(255, 255, 255,0.6);}
#header #main .dark .wrap .menu ul li:hover a{color: #ff6600;}


#header #main .dark .wrap .menu .btn{float: left; line-height: 66px; padding-left: 60px; }
#header #main .dark .wrap .menu .btn button
{
    text-transform: uppercase;
    border: 1px solid #ff6600;
    border-radius: 4px;
    padding: 10px 14px;
    background-color: #f60;
    cursor: pointer;
}

#header #main .dark .wrap .menu .btn button a
{
    /* display: block; */
    font-size: 16px;
    font-weight: bold;
    color: white;
}
#header #main .dark .wrap .menu .btn button:hover {background-color: #fff;}
#header #main .dark .wrap .menu .btn button:hover a{color: #f60;}




#header #main .dark .wrap_under
{
    width: 1160px; height: 494px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#header #main .dark .wrap_under .textwrap
{
    width: 100%; 
    transform: translate(-50%, -50%);
    position: absolute; left: 50%; top: 50%;
}
#header #main .dark .wrap_under .textwrap .title{}
#header #main .dark .wrap_under .textwrap .title h1
{
    font-size: 45px;
    line-height: 72px;
    color: white;
    font-family: 'Pacifico', cursive;
}
#header #main .dark .wrap_under .textwrap .cont{}
#header #main .dark .wrap_under .textwrap .cont p
{
    font-size: 14px;
    color: white;
    padding-top: 16px;
    padding-bottom: 40px;
}
#header #main .dark .wrap_under .textwrap .btn{display: inline-block; font-size: 0;}
#header #main .dark .wrap_under .textwrap .btn li
{
    float: left;
    width: 202px; height: 42px;
    border: 1px solid #f60;
    border-radius: 8px;
    padding: 0 20px;
    margin: 0 20px;
    text-transform: capitalize;
}
#header #main .dark .wrap_under .textwrap .btn li:hover
{background-color: rgba(255, 255, 255, 0.4);}
#header #main .dark .wrap_under .textwrap .btn li:hover a{color: #f60;}

#header #main .dark .wrap_under .textwrap .btn li a
{
    display: block;
    line-height: 42px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}


#story
{
    width: 100%; height: 600px;
    overflow: hidden;
}
#story .wrap
{
    width: 1160px;  height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center; 
}
#story .wrap .title
{ 
    padding-top: 60px;
    padding-bottom: 40px;
}
#story .wrap .title h2
{
    font-family: 'Pacifico', cursive;
    color: #555;
    font-size: 54px;
    line-height: 72px;
}
#story .wrap .title h2 span
{
    font-family: 'Pacifico', cursive;
    color: #f60;
}
#story .wrap .title p
{
    padding-top: 20px;
    font-size: 16px;
    color: #555;    
}
#story .wrap .cont{}
#story .wrap .cont .box
{
    float: left;
    width: 540px; height: 200px;
    /* background-color: #35c; */
    margin: 0 15px;
    position: relative;
}

#story .wrap .cont .box.imgBox
{
    background-image: url(../img/cook-01.jpg);
    background-position: 50% 65%;
    border-radius: 8px;
    /* background-size: cover; */
}
#story .wrap .cont .box.contBox{}
#story .wrap .cont .box.contBox p
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 40px;
}
#story .wrap .cont .box.contBox a
{
    position: absolute;
    bottom: 10px; left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
}

#story .wrap .bottom
{
    display: inline-block;
    padding-top: 100px;
}
#story .wrap .bottom img
{
    width: 100%;
}


/* #midEdu1{}
#midEdu1 .outer
{
    width: 300px; height: 300px;
    background-image: url(../img/menu_1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    padding: 20px;
    border-radius: 20px;
}
#midEdu1 .outer .dark_bg
{
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    color: white;
    opacity: 0;
    transition: opacity 1s;
}

#midEdu1 .outer:hover .dark_bg{opacity: 1;}

#midEdu1 .outer .dark_bg h3{font-size: 28px;}
#midEdu1 .outer .dark_bg p{padding-top: 10px;}
#midEdu1 .outer .dark_bg span
{
    position: absolute;
    bottom: 20px; right: 20px;
    font-size: 24px;
    color: f60;
} */

#special{}
#special #top_bg
{
    width: 100%; height: 480px;    
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
   
}
#special #top_bg .dark_bg
{
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#special #main_cout
{
    width: 1160px; height: 690px;
    margin: 0 auto;
    background-color: #ededed;
    position: relative;
}
#special #main_cout .wrap{position: absolute; top: -360px;}
#special #main_cout .wrap .title
{
    text-align: center;
}
#special #main_cout .wrap .title h3
{
    padding: 20px 0;
    font-size: 54px;
    line-height: 72px;
    color: white;
}
#special #main_cout .wrap .title p
{
    padding-bottom: 40px;
    font-size: 16px;
    color: white;
}

#special #main_cout .wrap .cont{}
#special #main_cout .wrap .cont .box
{
    float: left;
    width: 360px; height: 360px;
    background-color: #aaa;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    background-size: cover;
    background-position: 50% 50%;
}

#special #main_cout .wrap .cont .box:nth-child(1)
{
    width: 750px; height: 360px;
    background-image: url(../img/menu_1.jpg);
}
#special #main_cout .wrap .cont .box:nth-child(2){background-image: url(../img/menu_2.jpg);}
#special #main_cout .wrap .cont .box:nth-child(3){background-image: url(../img/menu_3.jpg);}
#special #main_cout .wrap .cont .box:nth-child(4){background-image: url(../img/menu_4.jpg);}
#special #main_cout .wrap .cont .box:nth-child(5){background-image: url(../img/menu_5.jpg);}

#special #main_cout .wrap .cont .box .dark_bg
{
    width: 100%; height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
}
#special #main_cout .wrap .cont .box:hover .dark_bg{opacity: 1; cursor: pointer;}

#special #main_cout .wrap .cont .box .dark_bg h3
{
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}
#special #main_cout .wrap .cont .box .dark_bg p
{
    font-size: 18px;
    font-weight: lighter;
    color: white;
}
#special #main_cout .wrap .cont .box .dark_bg span
{
    font-size: 28px;
    font-weight: bold;
    color: #f60;
    position: absolute; bottom: 20px; right: 20px;
}
#special #main_cout .wrap .cont .box .dark_bg span small
{
    font-family: 'Pacifico', cursive;
}


#special #main_cout .bottom
{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
#special #main_cout .bottom a{display: inline-block; height: 19px;}
#special #main_cout .bottom a img{display: block;}


/* #midEdu2{}
#midEdu2 .frame
{
    width: 900px; margin: 0 auto;
    padding: 40px 0;
    background-color: #aff;
    font-size: 0;
}

#midEdu2 .frame .box
{
    display: inline-block;
    width: calc(100% / 3 - 20px); height: 280px;
    background-color: #faa;.
    margin: 0 10px;
} */

#menu
{
    width: 100%; height: 1680px;
    padding-top: 20px;
    background-image: url(../img/3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#menu #wrap
{
    width: 1160px; 
    padding: 0 10px; 
    margin: 0 auto; 
    position: relative;
}
#menu #wrap #title{text-align: center; padding-bottom: 80px;}
#menu #wrap #title h3
{
    /* padding: 20px 0; */
    font-size: 45px;
    line-height: 72px;
    color: #555;
}
#menu #wrap #title p
{
    font-size: 16px;
    color: #555;
    text-transform: uppercase;
    padding-bottom: 40px;
}

#menu #wrap #cont{}
#menu #wrap #cont .box{ }
#menu #wrap #cont .box .title
{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}
#menu #wrap #cont .box .title h3
{
    font-size: 24px;
    font-weight: bold;  
    color: #999;
    text-transform: uppercase;
}
#menu #wrap #cont .box .cont_box{position: relative; margin: 20px;}
#menu #wrap #cont .box .cont_box .cont
{
    float: left;
    width: calc(100% / 2 - 30px); height: 100%;
    margin: 0 15px;   
    padding-bottom: 40px;
    position: relative;
}
#menu #wrap #cont .box .cont_box:after
{
    content: "";
    display: block;
    clear: both;
}

#menu #wrap #cont .box .cont_box .cont h2
{
    font-size: 20px;
    font-weight: bold;
    color: #555;    
}
#menu #wrap #cont .box .cont_box .cont p
{
    font-size: 16px;
    color: #555;
}
#menu #wrap #cont .box .cont_box .cont span
{
    font-size: 20px;
    font-weight: bold;
    color: #f60;
    position: absolute;
    bottom: 0; right: 0;
}
#menu #wrap #cont .box .cont_box .cont span small
{
    font-family: 'Pacifico', cursive;
}



#menu #wrap #cont .box .cont_box .centerLine
{
    position: absolute; top: 0; left: 50%;
    transform: translateX(-50%);
    width: 1px; height: 100%;
    background-color: #cfcfcf;
}


#menu #wrap .bottom
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#menu #wrap .bottom a{display: inline-block; height: 19px;}
#menu #wrap .bottom a img{display: block; margin-top: 79px;}